.mp6-sg-example {
	padding: 1em;
	margin: 10px 0 20px;
	background: white;

	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
}

.mp6-sg-example h3 {
	margin-top: 0;
}

.mp6-table {
	width: 100%;
}

.mp6-table th, .mp6-table td {
	border-bottom: 1px solid #eee;
}

.mp6-table .sg-example-code {
	width: 25%;
}
.mp6-table .sg-example-descrip {
	width: 75%;
}

.mp6-table td span {
	display: block;
	padding: 5px 10px;
}

/*jQuery UI demo page css*/
.demoHeaders {
	margin-top: 2em;
	clear: both;
}
#dialog_link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
}
#dialog_link span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}
ul#icons {
	margin: 0;
	padding: 0
}
ul#icons li {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
	list-style: none;
}
ul#icons span.ui-icon {
	float: left;
	margin: 0 4px
}
.columnbox {
	height: 150px;
	width: 48%;
	float:left;
	margin-right: 1%;
}
#eq span {
 	height:120px;
 	float:left;
 	margin:15px;
 }
.buttonset {
	margin-bottom: 5px;
}
#toolbar {
	padding: 10px 4px;
}
.ui-widget-overlay {
	position: absolute;
} /* fixed doesn't actually work? */